//registry.npmjs.org/:_authToken=${NPM_TOKEN}
@grxfrontend:registry=http://registry.npmjs.org/
always-auth=true

//npm.pkg.github.com/:_authToken=${NPM_TOKEN_GRX}
@goodrx:registry=https://npm.pkg.github.com/
always-auth=true
